body{
    background-color: rgb(137, 149, 248);
}
.fanpage{
    width: 800px;
    height: 800px;
    border: 1px solid rgb(5, 3, 0);
    background-color: white;
    margin: 8% auto;
    padding-left: 20px;
}
.fanpage .content{
    font-size: 40px;
}
.fanpage .content2{
    font-size: 25px;
}
.description{
    font-size: 20px;
}
.more{
    border: 1px solid black;
    width: 80px;
    height: 25px;
    text-align: center;
    padding: auto;
    background-color: aqua;
    color: white;
}